/* reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
     background-image: url("img/anas-alshanti-feXpdV001o4-unsplash.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     animation: move-back 20s linear alternate-reverse infinite;

}
body {
  background-image: url("img/anas-alshanti-feXpdV001o4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: mov-back 100s linear alternate infinite;
}
div.container {
  width: 100%;
  height: 100vh; /* 
     background-color: rgba(128, 128, 128, .3); */
  display: flex;
  justify-content: center;
  align-items: center;
}
div.form {
  width: 30em;
  height: auto;
  z-index: 1;
}
div.form form {
  width: 60%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  animation: aparecer 1s linear;
}
form fieldset {
  padding: 1.5em;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey, 5px -5px 50px grey;
}
form fieldset > h2 {
  font-family: "Grandstander", cursive;
  text-align: center;
  color: white;
}
form fieldset > label {
  font-family: "Grandstander", cursive;
  cursor: pointer;
  color: white;
}
input[type="text"] {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  border: 0.1px solid grey;
  padding: 5px;
}
input[type="submit"] {
  width: 5em;
  height: 2em;
  border-radius: 5px;
  border: 0.1px solid grey;
  margin: 20px 0 20px 0;
  font-family: "Grandstander", cursive;
  background-color: rgba(255, 105, 180, 0.5);
  cursor: pointer;
  color: white;
}
input[type="submit"]:hover {
  background-color: rgba(255, 105, 180, 0.6);
}

form #p_mostrar > p {
  font-family: "Grandstander", cursive;
  font-size: 2em;
  border: 1px solid grey;
  color: white;
  user-select: none;
}

form #p_mostrar > p{
     font-family: 'Grandstander', cursive;
     font-size: 2em;
     border: 1px solid grey;
     color: white;
     user-select: none;
}
/* efecto aparecer del formulario */
@keyframes aparecer {
  0%{
    opacity: 0;
    transform: scale(.5) rotate(0deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
/* animation */
@keyframes mov-back {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@media screen and (min-width: 768px) {
  body{
       animation: mov-back 20s ease-in;
  }
     @keyframes mov-back {
    0% {
      background-position: top;
    }
    100% {
      background-position: bottom;
    }
  }
}
/* @media screen and (min-width: ) */

/* animation */
@keyframes move-back {
     0%{
          background-position: top;
     }
     100%{
          background-position: bottom;
     }
}
